@import "../styles/base.scss";

.basket-items-container {
    padding-left: 0;
}

.basket-item-card {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 30px 0;

    div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}

.command-form {
    label {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    input {
        flex-grow: 1;
        max-width: 300px;
        margin-left: 10px;
    }
}